<a class="card card-full" style="width:20rem" href="/news-events/news/$!{dotContentMap.urlTitle}">
  <img class="card-img-top" src="/dA/$dotContentMap.identifier/700w/70q/cta-image.webp" alt="$!{dotContentMap.title}">
  <div class="card-body">
    <p class="news-title">$!{dotContentMap.title}</p>
    <hr>
    <p class="news-text">$UtilMethods.truncatify($dotContentMap.summary, 200)</p>
  </div>
</a>