html, body {
  background: #ffffff;
  font-family: 'Open Sans';
}
#recentNews {
  background: #eeeeee;
}
h1 {
  font-family: 'Roboto Condensed';
  color: #b1005d;
  font-size: clamp(3rem, 5vw, 2rem);
  margin: 72px 0 1rem 0;
}
h2 {
  font-family: 'Roboto Condensed';
  color: #b1005d;
  font-size: clamp(2.5rem, 5vw, 1.75rem);
}
h3 {
  font-family: 'Roboto Condensed';
  color: #b1005d;
  font-size: clamp(2rem, 5vw, 1.5rem);
}
.header img {
  padding: 1rem 0 1rem 2rem;
  max-width: 325px;
  height: auto;
}
.img-logo {
  padding: 0;
}
.top-nav {
  font-family: 'Roboto Condensed';
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.top-nav a{
  text-decoration: none;
  color: #333333;
}
.top-nav a:hover {
  color: #00a9e0;
  border-bottom: 2px solid #00a9e0;
}
.top-nav p {
  padding-right: 1.25rem;  
}
.top-nav p:last-child {
  padding-right: 3rem;
}
.navbar-link {
  font-family: 'Roboto Condensed';
  font-size: 20px;
  padding-right: 24px;
}
.navbar-link:last-child {
  padding-right: 0;
}
.navtglbtn {
  margin-left: 12px;
}
.dropdowndown-link {
  font-size: 1rem;
  font-family: 'Open Sans';
}
.img-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.img-col {
  padding: 0;
  position: relative;
}
.text-overlay, .img-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}
.overlay-title {
  font-size: clamp(3rem, 5vw, 2rem);
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
  color: #ffffff;
}
.img-text, .img-link-text {
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
a.img-link-text:hover {
  color: #00a9e0;
}
.resources {
  margin-bottom: 64px;
}
.phys-text {
  font-family: 'Open Sans';
  font-size: clamp(1.25rem, 5vw, 1rem);
  padding: 0;
  margin: 0;
}
.photo-links {
  margin: 0 auto;
  margin-top: 64px;
}
.photo-link {
  position: relative;
  margin-bottom: 2rem;
}
.img-link {
  width: 600px;
  height: 100px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-full {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
}
.card-img-vert {
  width: 319px;
  height: 199px;
}
.btn-primary {
  background: #b1005d;
  --bs-btn-color: #fff;
  --bs-btn-bg: #b1005d;
  --bs-btn-border-color: #b1005d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b1005d;
  --bs-btn-hover-border-color: #91004b;
  --bs-btn-focus-shadow-rgb: 145, 0, 75;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #91004b;
  --bs-btn-active-border-color: #91004b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #b1005d;
  --bs-btn-disabled-border-color: #b1005d;
}
.btn-primary:hover {
  background: #91004b;
}
.hc-container {
  margin: 0 auto;
  width: 90%;
}
.hc-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hc-body {
  padding: 4px 0 8px 8px;
}
.hc-card {
  background: #00a9e0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hc-month,
.hc-day {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
}
.hc-month {
  margin-bottom: 0;
  padding-bottom: 0;
}
.event-card-full {
  padding: 0;
}
p.card-title {
  font-family: 'Roboto Condensed';
  color: #b1005d;
  font-size: 22px;
}
.card-title,
.card-text {
  margin-bottom: 6px;
}
.learn-more-button {
  background: #fff;
  border: none;
  color: #b1005d;
  padding: 2px 4px;
}
.learn-more-button:hover {
  background: #fff;
  color: #91004b;
  border: 2px solid #91004b;
}
.card-text {
  font-size: 12px;
}
@media screen and (max-width: 500px) {
  .header img {
    margin: 0 auto;
    padding: 1rem 0 12px 0;
  }
  .top-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px 0 4px 0;
    padding: 0;
  }
  .top-nav p {
    padding-right: 8px;  
  }
  .top-nav p:last-child {
    padding-right: 0px;
  }
  .img-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .img-container {
    max-width: 100%;
  }
  .secondary {
    display: none;
  }
  .overlay-title {
    text-align: center;
  }
  .photo-links {
    margin: 0 auto;
    margin-top: 32px;
  }
  .img-link {
    width: 388px;
    margin: 0;
  }
  .img-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-link-text {
    text-align: center;
  }
}