html {
  background: #ffffff;
  font-family: 'Open Sans';
}
h1 {
  font-family: 'Roboto Condensed';
  color: #b1005d;
}
.header img {
  padding: 1rem 0 1rem 2rem;
  max-width: 325px;
  height: auto;
}
.top-nav {
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.top-nav a{
  text-decoration: none;
  color: #333333;
}
.top-nav p {
  padding-right: 1rem;  
}
.top-nav p:last-child {
  padding-right: 2rem;
}
@media screen and (max-width: 500px) {
  .header img {
    margin: 0 auto;
    padding: 1rem 0 12px 0;
  }
  .top-nav {
    margin: 0 auto;
  }
  .top-nav p {
    padding-right: 8px;  
  }
  .top-nav p:last-child {
    padding-right: 12px;
  }
}