html {
  background: #ffffff;
  font-family: 'Open Sans';
}
h1 {
  font-family: 'Roboto Condensed';
  color: #b1005d;
}
.header img {
  padding: 1rem 0 1rem 2rem;
  max-width: 325px;
  height: auto;
}
.top-nav {
  font-family: 'Roboto Condensed';
  font-size: 12px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.top-nav a{
  text-decoration: none;
  color: #333333;
}
.top-nav a:hover {
  color: #00a9e0;
  border-bottom: 2px solid #00a9e0;
}
.top-nav p {
  padding-right: 1.25rem;  
}
.top-nav p:last-child {
  padding-right: 3rem;
}
.navbar-link {
  font-family: 'Roboto Condensed';
  font-size: 20px;
  padding-right: 24px;
}
.navbar-link:last-child {
  padding-right: 0;
}
.navtglbtn {
  margin-left: 12px;
}
.dropdowndown-link {
  font-family: 'Open Sans';
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  .header img {
    margin: 0 auto;
    padding: 1rem 0 12px 0;
  }
  .top-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px 0 4px 0;
    padding: 0;
  }
  .top-nav p {
    padding-right: 8px;  
  }
  .top-nav p:last-child {
    padding-right: 0px;
  }
}