@font-face {
  font-family: "RidleyGrotesk-Regular";
  src: url("../assets/fonts/RidleyGrotesk/RidleyGrotesk-Regular.otf") format("opentype");
}
@font-face {
  font-family: "RidleyGrotesk-Bold";
  src: url("../assets/fonts/RidleyGrotesk/RidleyGrotesk-Bold.otf") format("opentype");
}
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html, body {
  background: rgb(255, 255, 255);
  font-family: 'RidleyGrotesk-Regular';
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
h1,h2,h3,h4,h5 {
  font-family: 'RidleyGrotesk-Bold';
}
h2 {
  color: rgb(156, 0, 81);
  font-size: clamp(2.5rem, 5vw, 1.75rem);
}
h3 {
  color: rgb(156, 0, 81);
  font-size: clamp(2rem, 5vw, 1.5rem);
}
.header img {
  padding: 1rem 0 1rem 2rem;
  max-width: 325px;
  height: auto;
}
.img-logo {
  padding: 0;
  max-width: 250px;
  height: auto;
}
.top-nav {
  font-family: 'RidleyGrotesk-Bold';
  font-size: 1rem;
  display: inline-block;
}
.top-nav a {
  color: rgb(51, 55, 64);
}
.top-nav a:hover {
  color: rgb(121, 0, 63);
  border-bottom: 2px solid rgb(121, 0, 63);
  text-decoration: none;
}
.navbar-link {
  color: rgb(255, 255, 255);
  font-family: 'RidleyGrotesk-Bold';
  font-size: 20px;
  padding-right: 24px;
}
.navbar-link:last-child {
  padding-right: 0;
}
.navbar-link:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
.navtglbtn {
  margin-left: 12px;
}
.dropdown-link {
  font-size: 1rem;
  font-family: 'RidleyGrotesk-Regular';
}
.dropdown-link a:hover {
  text-decoration: underline;
  color: rgb(51, 55, 64);
}
.img-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.img-col {
  padding: 0;
  position: relative;
}
.tessellation-bg {
  background: rgb(0, 178, 238);
}
.text-overlay, .img-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}
h1.overlay-title {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}
.img-text, .img-link-text {
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}
a.img-link-text:hover {
  color: rgb(0, 178, 238);
}
.resources {
  margin-bottom: 64px;
}
.phys-text {
  font-family: 'RidleyGrotesk-Regular';
  font-size: clamp(1.25rem, 5vw, 1rem);
  padding: 0;
  margin: 0;
}
.photo-links {
  margin: 0 auto;
  margin-top: 64px;
}
.photo-link {
  position: relative;
  margin-bottom: 2rem;
}
.img-link {
  width: 600px;
  height: 100px;
  border-radius: 4px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.75);
}
.card-container,
.hc-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-full,
.event-card-full {
  border: 2px solid rgba(0, 0, 0, 0.15);
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.55);
}
.card-img-vert {
  width: 319px;
  height: 199px;
}
.btn-primary {
  background: rgb(156, 0, 81);
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-bg: rgb(156, 0, 81);
  --bs-btn-border-color: rgb(156, 0, 81);
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(121, 0, 63);
  --bs-btn-hover-border-color: rgb(121, 0, 63);
  --bs-btn-focus-shadow-rgb: 145, 0, 75;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: rgb(121, 0, 63);
  --bs-btn-active-border-color: rgb(121, 0, 63);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(255, 255, 255);
  --bs-btn-disabled-bg: rgb(156, 0, 81);
  --bs-btn-disabled-border-color: rgb(156, 0, 81);
}
.btn-primary:hover {
  background: rgb(121, 0, 63);
}
.read-button {
  font-size:12px;
  padding: 6px 10px;
}
.read-button:hover {
  background-color: rgb(121, 0, 63);
}
.hc-container {
  margin: 0 auto;
  width: 90%;
}
.hc-body {
  padding: 4px 0 8px 8px;
}
.hc-card {
  background: rgb(71, 75, 85);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 96px; */
}
.hc-month,
.hc-day {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: bold;
}
.hc-month {
  margin-bottom: 0;
  padding-bottom: 0;
}
.event-card-full {
  padding: 0;
}
p.card-title {
  font-family: 'RidleyGrotesk-Bold';
  color: rgb(156, 0, 81);
  font-size: 22px;
}
.card-text {
  margin-bottom: 10px;
  font-size: 12px;
}
.learn-more-button {
  background: rgb(255, 255, 255);
  border: none;
  color: rgb(156, 0, 81);
  padding: 2px 4px;
  font-size: 1rem;
}
.learn-more-button:hover {
  color: rgb(156, 0, 81);
  background: rgb(255, 255, 255);
  text-decoration: underline;
}
.card-divider {
  margin-top: 0;
  margin-bottom: 4px;
}
.btn-secondary {
  --bs-btn-color: rgb(255, 255, 255);
  --bs-btn-bg: #405949;
  --bs-btn-border-color: #405949;
  --bs-btn-hover-color: rgb(255, 255, 255);
  --bs-btn-hover-bg: #314538;
  --bs-btn-hover-border-color: #314538;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: rgb(255, 255, 255);
  --bs-btn-active-bg: #314538;
  --bs-btn-active-border-color: #314538;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(255, 255, 255);
  --bs-btn-disabled-bg: #666666;
  --bs-btn-disabled-border-color: #666666;
}
footer {
  background: rgb(71, 75, 85);
  color: rgb(255, 255, 255);
}
.footer-logo {
  max-width: 600px;
  height: auto;
}
.footer-logo-text {
  font-size: 14px;
}
.footer-link {
  font-size: 14px;
}
a.footer-link {
  color: rgb(255, 255, 255);
  text-decoration: none
}
a.footer-link:hover {
  text-decoration: underline;
  color: rgb(0, 178, 238);
}
.copy-footer {
  font-size: 12px;
  color: rgb(238, 238, 238);
}
.footer-social-icon {
  width: 42px;
  text-align: center;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(51, 55, 64);
  border-radius: 5px;
  padding: 8px 10px;
  margin-right: 1rem;
}
.footer-social-icon:last-child {
  margin-right: 0;
}
.facebook:hover {
  color: rgb(255, 255, 255);
  background: rgb(66, 103, 178);
}
.twitter:hover {
  color: rgb(255, 255, 255);
  background: rgb(29, 161, 242);
}
.youtube:hover {
  color: rgb(255, 255, 255);
  background: rgb(196, 48, 43);
}
.instagram:hover {
  color: rgb(255, 255, 255);
  background: rgb(150, 47, 191);
}
.test-link {
  font-size: 1.5rem;
  color: white;
}
.test-link a {
  color: white;
}
.test-link a:hover {
  color: #9c0051;
  text-decoration: none;
  border-bottom: 2px solid #9c0051;
}
@media screen and (max-width: 500px) {
  .header img {
    margin: 0 auto;
    padding: 1rem 0 12px 0;
  }
  .top-nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px 0 4px 0;
    padding: 0;
  }
  .top-nav p {
    padding-right: 8px;  
  }
  .top-nav p:last-child {
    padding-right: 0px;
  }
  .img-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .img-container {
    max-width: 100%;
  }
  .secondary {
    display: none;
  }
  .overlay-title {
    text-align: center;
  }
  .photo-links {
    margin: 0 auto;
    margin-top: 32px;
  }
  .img-link {
    width: 388px;
    margin: 0;
  }
  .img-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-link-text {
    text-align: center;
  }
  .card-full {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}